body {
  display: grid;
  place-items: center;
  background-color: #3d1e6d;
}

#title {
  text-align: center;
  position: relative;
  top: 75px;
  color: #e4dcf1;
}

#color-palette {
  height: 52px;
  width: 300px;
  position: absolute;
  top: 381px;
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

.color {
  height: 50px;
  width: 50px;
  border: solid 1px;
  border-radius: 3px;
  box-shadow: 3px 4px 5px 0px #3d2352;
}

#color1 {
  background-color: black;
}

#button-random-color {
  height: 21px;
  width: 114px;
  position: absolute;
  top: 443px;
  left: 570px;
  box-shadow: 3px 4px 5px 0px #3d2352;
}

#clear-board {
  height: 21px;
  width: 60px;
  position: absolute;
  top: 443px;
  left: 700px;
  box-shadow: 3px 4px 5px 0px #3d2352;
}

#frame {
  background-color: #8874a3;
  height: 400px;
  width: 400px;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 3%;
  box-shadow: 0px 0px 5px 4px #2e003e;
}

#pixel-board {
  height: 210px;
  width: 210px;
  border: solid 1px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: relative;
  top: 70px;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid #000000;
  background-color: #ffff;
}

.selected {
  box-shadow: 7px 7px 6px 3px #2e003e;
}
